@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

* {
    background-color: black;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-list {
    list-style: none;
    display: flex;
}

.navbar-list li {
    margin: 10px 20px;
    font-weight: lighter;
    text-align: center;
}

.navbar-list a {
    text-decoration: none;
    color: lightgray;
}

.logo {
    width: 18px;
    height: 18px;
}

.search {
    width: 18px;
    height: 18px;
}

.mobile {
    text-align: center;
}

.iphone {
    height: 500px;
}

.mobile h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.mobile h3 {
    font-weight: lighter;
    font-size: 25px;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.tab {
    margin-top: 40px;
    text-align: center;
}

.ipad {
    height: 400px;
    margin: 0;
}

.tab h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.tab h4 {
    font-weight: lighter;
    font-size: 20px;
}

.laptop {
    margin-top: 40px;
    text-align: center;
}

.mac {
    height: 400px;
    margin: 0;
}

.laptop h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.laptop h4 {
    font-weight: lighter;
    font-size: 20px;
}