@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

* {
    background-color: black;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-list {
    list-style: none;
    display: flex;
}

.navbar-list li {
    margin: 10px 20px;
    font-weight: lighter;
    text-align: center;
}

.navbar-list a {
    text-decoration: none;
    color: lightgray;
}

.logo {
    width: 18px;
    height: 18px;
}

.search {
    width: 18px;
    height: 18px;
}

.mobile {
    text-align: center;
    margin-top: 50px;
}

.iphone {
    height: 500px;
}

.mobile h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.mobile h3 {
    font-weight: lighter;
    font-size: 25px;
    word-spacing: 5px;
}

.row-1, .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.tab, .laptop, .watch, .earphones {
    margin-top: 40px;
    text-align: center;
}

.ipad, .mac, .clk, .pods {
    height: 400px;
    margin: 0;
}

.tab h2, .laptop h2, .watch h2, .earphones h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.tab h4, .laptop h4, .watch h4, .earphones h4 {
    font-weight: lighter;
    font-size: 20px;
    word-spacing: 5px;
}